<p-menubar [model]="items">
    <ng-template pTemplate="item" let-item >
        <ng-container *ngIf="item.route">
            <a [routerLink]="item.route" class="p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
            </a>
        </ng-container>
    </ng-template>

    <ng-template pTemplate="end" >
        <div class="flex align-items-center gap-1">
            
            <p-calendar 
            [(ngModel)]="date1" 
            [showIcon]="true" 
            [showOnFocus]="false" 
            inputId="buttondisplay" 
            dateFormat="dd.mm.yy"
            (onSelect)="onDateSelect()"
            [placeholder]="oggi"
            />

            <p-menu #menu2 [model]="utenti" [popup]="true" />
            <p-button (onClick)="menu2.toggle($event)" [rounded]="true" [text]="true" size="large" icon="pi pi-users"/>

            <p-menu #menu [model]="giorni" [popup]="true" />
            <p-button (onClick)="menu.toggle($event)" [rounded]="true" [text]="true"  size="small">
                <span size="small" *ngIf="numeroDaVedere; else icon">{{ numeroDaVedere }}</span>
                <ng-template #icon><i class="pi pi-bars"></i></ng-template>
                <!-- [badge]="currentIcon"  label="Giorni:" icon="pi pi-calendar-clock" -->
            </p-button>
    
       <app-toggle-theme />
        </div>

    </ng-template>
</p-menubar>