<p-menubar>
    <ng-template pTemplate="start">
        <p-iconField iconPosition="left" size="small">
            <p-inputIcon styleClass="pi pi-search" />
            <input (input)="searchUser($event)" size="small" type="text" pInputText placeholder="Cerca..." />
        </p-iconField>
    </ng-template>


    <ng-template pTemplate="end" >
        <div class="flex align-items-center gap-1">
            
            <p-calendar 
            [(ngModel)]="date1" 
            [showIcon]="true" 
            [showOnFocus]="false" 
            inputId="buttondisplay" 
            dateFormat="dd.mm.yy"
            (onSelect)="onDateSelect()"
            [placeholder]="oggi"
            />
            
            <p-menu #menu2 [model]="utenti" [popup]="true" />
            <p-button (onClick)="menu2.toggle($event)" [rounded]="true" [text]="true" size="large" icon="pi pi-users"/>

            <p-menu #menu [model]="giorni" [popup]="true" />
            <p-button (onClick)="menu.toggle($event)" [rounded]="true" [text]="true" size="small">
                <span size="small" *ngIf="numeroDaVedere; else icon">{{ numeroDaVedere }}</span>
                <ng-template #icon><i class="pi pi-bars"></i></ng-template>
            </p-button>
       <app-toggle-theme />
        </div>
    </ng-template>
</p-menubar>