<!-- Navbar -->
 <app-navbar (areaSelected)="onAreaSelected($event)"></app-navbar>
<div class="wrap-body">
<!-- Fullcalendar -->
<div class="container">
    <div class="wrap-calendar">
        <full-calendar #calendar [options]="calendarOptions" >
        </full-calendar> 
    </div>
</div>
<!-- Rotte -->
<router-outlet />
<!-- Modal onClick -->
<p-dialog 
        header="Informazioni:" 
        [(visible)]="visibleClickModal" 
        [modal]="true" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
        [style]="{ width: '50vw' }" 
        [draggable]="false" 
        [resizable]="false">
            <p>
               {{bodyContent}}
            </p>
</p-dialog>
</div>