@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import "tippy.js/dist/tippy.css";


/* Centra gli header del calendar */
a.fc-timeline-slot-cushion.fc-scrollgrid-sync-inner {
 margin: auto !important
}

/* Crea un padding tra la Navbar ed il Calendar */
.wrap-calendar {
    padding-top: 1.5rem;
}

/* Capitalizza i nomi dei Giorni, Mesi della Header del calendar */
.wrap-calendar th a,
.wrap-calendar .fc-toolbar-title
{
    text-transform: capitalize;
}

.interno {
    width: 3.125rem;
    text-align: center;
}
.fc-datagrid-cell,
.fc-datagrid-cell-frame {
   text-align: center;
}

