/*  src/theme-dark.css */
@import "primeng/resources/themes/lara-dark-blue/theme.css";

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    background-color: rgb(55, 65, 81);
    content: "🌙";
    position: absolute;
    display: flex;
    line-height: 1.2em;
    text-align: center;
    vertical-align: middle;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra orizzontalmente */
    transform: translateX(1.3rem) !important;    
}

.tooltip {
    position: absolute;
    z-index: 9999;
    background-color: rgb(55, 65, 81);
    color: white;
    border: solid rgb(227, 228, 230) 1px;
    width: fit-content;
    border-radius: 0.624rem;
    margin-top: 0.624rem;
    padding: 0.96rem;
    font-size: 11px;
}
.fc-popover-header {
    background-color: rgb(55, 65, 81) !important;
}
.fc-popover-title {
    color: white !important;
}

.fc-timeline-more-link-inner.fc-sticky {
    color: black !important;
}

th {
    border: solid 1px white!important;
}

.custom-tooltip {
    position: absolute;
    z-index: 9999;
    background-color: rgb(55, 65, 81);
    color: white;
    border: solid rgb(227, 228, 230) 1px;
    width: fit-content;
    border-radius: 0.624rem;
    margin-top: 0.624rem;
    padding: 0.96rem;
    font-size: 11px;
  }