/*  src/theme-light.css */
@import "primeng/resources/themes/lara-light-blue/theme.css";


button.fc-today-button.fc-button.fc-button-primary{
    background-color: rgb(59, 130, 246);
}

button.fc-next-button.fc-button.fc-button-primary {
    background-color: rgb(59, 130, 246);
}

button.fc-prev-button.fc-button.fc-button-primary {
    background-color: rgb(59, 130, 246);
}

button.fc-dayGridMonth-button.fc-button.fc-button-primary {
    background-color: rgb(59, 130, 246); 
}

button.fc-dayGridWeek-button.fc-button.fc-button-primary.fc-button-active , .fc-customYear-button.fc-button.fc-button-primary.fc-button-active{
    background-color: rgb(59, 130, 246); 
}

button.fc-dayGridDay-button.fc-button.fc-button-primary {
    background-color: rgb(59, 130, 246); 
}

button.fc-dayGridDay-button.fc-button.fc-button-primary.fc-button-active {
    background-color: rgb(59, 130, 246);
}

button.fc-dayGridWeek-button.fc-button.fc-button-primary {
    background-color: rgb(59, 130, 246);
}

.fc-customYear-button.fc-button.fc-button-primary {
    background-color: rgb(59, 130, 246);
}

.tooltip{
    position: absolute;
    z-index: 1070;
    background-color: white;
    border: solid rgb(59, 130, 246) 1px;
    width: fit-content;
    border-radius: 0.624rem;
    margin-top: 0.624rem;
    padding: 0.96rem;
    box-shadow: grey 1px 3px 10px;
    font-size: 11px;
}
.fc-popover-header {
    background-color: rgb(127, 174, 249) !important;
}
.fc-popover-title {
    color: white !important;
}

th {
    border: solid 1px grey!important;
}

.custom-tooltip {
    position: absolute;
    z-index: 1070;
    background-color: white;
    border: solid rgb(59, 130, 246) 1px;
    width: fit-content;
    border-radius: 0.624rem;
    margin-top: 0.624rem;
    padding: 0.96rem;
    box-shadow: grey 1px 3px 10px;
    font-size: 11px;
  }





